<div>
  <h1>Edit User Profile</h1>
  <form id="information_pet">   
      <p>Current Name: <%- pet.name %> </p> 
      <div><p>Edit Name: </p><input type="text" id="name" name="name" placeholder="Enter Name"></div>
      <p>Current Gender: <%- pet.gender %></p>
      <div><p>Edit Gender: </p><input type="text" id="gender" name="gender" placeholder="Enter Gender"></div>
      <p>Current Species: <%- pet.type %></p>
      <div><p>Edit Species: </p><input type="text" id="species" name="species" placeholder="Enter Species"></div>
      <p>Current Breed: <%- pet.breed %></p>
      <div><p>Edit Breed: </p><input type="text" id="breed" name="breed" placeholder="Enter Breed"></div>
      <p>Current Weight: <%- pet.weight %></p>
      <div><p>Edit Weight: </p><input type="text" id="weight" name="weight" placeholder="Enter Weight"></div>
      <p>Current Birthdate: <%- pet.birthdate %></p>
      <div><p>Edit Birthdate: </p><input type="date" id="birthdate" name="birthdate" placeholder="Enter Birthdate"></div>
      <p>Current Description: <%- pet.description %></p>
      <div><p>Edit Description: </p><input type="text" id="description" name="description" placeholder="Enter Description"></div>
      <p>Curren Owner: <button><%- pet.owner %></button></p>
      <div><p>Edit Owner: </p><input type="text" id="owner" name="owner" placeholder="Enter Owner"></div>
      <p>Current Conditions: <%- pet.conds%></p>
      <div><p>Edit Conditions: </p><input type="text" id="conds" name="conds" placeholder="Enter Conditions"></div>
      <p>Current Medications: <%- pet.meds %></p>
      <div><p>Edit Medications: </p><input type="text" id="meds" name="meds" placeholder="Enter Medications"></div>
      <input type="submit" id="submit_pet">
  </div>