<div class="petListTemplate">
  <img src="/images/petList.jpg" alt="petListImg">
  <div class="petListFormat">
    <h2>My Pets</h2>
    <% pets.forEach(function(pet) { %>
      <div class="petList">
        <form method="GET" action=<%="/petProfile/" + pet.PetID %>>
          <a class="list_c1" href="/petProfile/<%= pet.PetID %>"><%- pet.Name %></a>
        </form>
        <div class="list_c2">Age: <%- petInfo.Pet_Age %></div>
        <div class="list_c3">Sex: <%- pet.Gender%></div>
        <div class="list_c4">Description: <%- pet.Description %></div>
      </div>

      <% }); %>
      <a href = "/petCreate" id = "createPetBtn">Create Pet</a>
  </div>
</div>
