<div id="prescriptionList">

  <h1>Prescriptions</h1>
  <form id="searchForm">
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Search...">
      <i class="fas fa-search"></i> <!-- This is a magnifying glass icon -->
  </div>
  </form>

  <div id="sortWrap">
    <select id="sortOptions">
      <option value="reset">Sort By: Select Option</option>
      <option value="nameAsc">Sort by: Name (A-Z)</option>
      <option value="nameDesc">Sort by: Name (Z-A)</option>
      <option value="dateAsc">Sort by: Date (Oldest-Newest)</option>
      <option value="dateDesc">Sort by: Date (Newest-Oldest)</option>
    </select>

  </div>


  <% prescriptions.forEach(function(prescription) { %>
    <div class="prescriptionWrap">
      <div class="prescription">

          <div class="p_child1">
            <span><%= prescription.Name %></span>
            <img src="<%= prescription.URL %>" class="prescription_Petpicture" alt="PetImage" title="source: imgur.com">
          </div>




        <div class="p_child2">Medication: <%= prescription.MedName %>
        </div>
        <div class="p_child3">Description: <%= prescription.Description %>
        </div>
        <div class="p_child4">Portion: <%= prescription.Portion %>
        </div>
        <div class="p_child5">Rate: <%= prescription.Rate %>
        </div>
        <div class="p_child6">Administered Date: <%= prescription.DateTime %>
        </div>
      </div>
    </div>

    <% }); %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Store the original order of the .prescriptionWrap elements
    var originalOrder = $('.prescriptionWrap').toArray();

    // Search 
    $('#searchInput').on('keyup', function () {
      var value = $(this).val().toLowerCase(); 
      $('.prescriptionWrap').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    // Sort  
    $('#sortOptions').on('change', function () {
      var sortOption = $(this).val();
      var sortedItems;

      switch (sortOption) {
        case 'reset':
          // resests order to original 
          sortedItems = originalOrder;
          break;
        case 'nameAsc': // ascending order
          sortedItems = $('.prescriptionWrap').sort(function (a, b) {
            return $(a).find('.p_child1').text() > $(b).find('.p_child1').text() ? 1 : -1;
          });
          break; 
        case 'nameDesc': // descending order 
          sortedItems = $('.prescriptionWrap').sort(function (a, b) {
            return $(a).find('.p_child1').text() < $(b).find('.p_child1').text() ? 1 : -1;
          });
          break;
        case 'dateAsc': // ascending order
          sortedItems = $('.prescriptionWrap').sort(function (a, b) {
            var dateA = new Date($(a).find('.p_child6').text().replace('Administered Date: ', ''));
            var dateB = new Date($(b).find('.p_child6').text().replace('Administered Date: ', ''));
            return dateA > dateB ? 1 : -1;
          });
          break;
        case 'dateDesc': // descending order 
          sortedItems = $('.prescriptionWrap').sort(function (a, b) {
            var dateA = new Date($(a).find('.p_child6').text().replace('Administered Date: ', ''));
            var dateB = new Date($(b).find('.p_child6').text().replace('Administered Date: ', ''));
            return dateA < dateB ? 1 : -1;
          });
          break;
      }

      $('#prescriptionList').append(sortedItems);
    });
  });
</script>